<div class="ajaxcart-draw js-cart-item-unavailable mfp-hide">
  <div class="ajaxcart-draw__wrapper js-cart-draw-inner">
    <div class="ajaxcart-draw__scroll">
      <div class="ajaxcart__head">
      </div>
      <div class="ajaxcart__body">
        <div class="ajaxcart__label">
          <h3 class="ajaxcart__label-title"><span class="unavailable-list"></span> of course, been removed from your cart.</h3>
        </div>
        <button type="submit" class="c-btn c-btn--full c-btn--arrow c-btn--primary cart__checkout" name="checkout">CONTINUE TO CHECKOUT</button>
        <a class="browse-more-products" href="/collections/all">Browse More Products</a>
      </div>
    </div>
  </div>
</div>